*{
    color: rgb(7, 1, 1);
    background: #a0ddeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Para1{
font-family: 'Times New Roman', Times, serif;    
}

#cityInput, #cityName, #inputContainer,button{
    margin: 4px;
padding:7px;
border-width: 3px;
border-radius: 8px;
text-align:center;
font-family: 'Times New Roman', Times, serif;
font-size:20px;
font-weight:bold;
}
#Para6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#iconsContainer{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;
    border-width: 3px;    
    border: 5px solid hwb(210 15% 85%);    
    border-radius: 10px;
}

.icons{
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px solid hwb(0 98% 1%);
    border-radius: 10px;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
   /*  background-color: rgb(106, 215, 255); */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
